*{
    margin: 0; padding: 0; box-sizing: border-box;
   
}
/* definiamo il nostro form con larghezza altezza border etc */
.form{
    position: relative;
    border-radius: 10px;
    width: 60vw ;
    height: 25vh;
    margin: 10vh auto;
    background-color: rgb(70, 66, 66);
}
/* definiamo i nostri box che conterranno span input e select */
.box {
    width: calc(100% / 3 - 30px);
    margin-left: 23px;
    margin-top: 10px;
    height: 15vh;
    float: left;
    border-radius: 10px;
}  
 /* diamo una font:family al nostro span  un colore ed un margine  */
    .box span {
    margin-left: 30%;
    font-family:'Courier New', Courier, monospace;
    color:white;
   
}
/* diamo delle definizioni di largezza altezza padding e bordi ai nostri imput e select */
.box input, .box select {
    border-radius: 10px;
    margin-top: 30px;
    outline: none;
    border: 1px solid white;
    padding: 5px 10px;
    margin-left: 50%; transform: translate(-50%);
    font-family:'Courier New', Courier, monospace;
    background-color: white;
    text-align: center;
}

/* con il passaggio del mouse i vari imput e select cambieranno sfondo e il cursore */
.box >input:hover, .box >select:hover{
  
    background-color: paleturquoise;
    transition: 2s;
    cursor: pointer;
}
/* sezione che conterrà i due bottoni  */
.sezione_bottoni {
    display: flex;
    flex-direction: row;
    margin-left: 48.5%; transform: translate(-50%);
    position: absolute;
    bottom: 2vh;
   
   
   
}
/* impostiamo i bottoni di generazione e annullamento biglietto */
button{
    background-color: whitesmoke;
    outline: none;
    padding: 3px 10px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    margin-left: 3%;
    color:rgb(68, 65, 65);
}
/* passando con il mouse sul bottone lo sfondo cambia con una transizione di 1 secondo */
button:hover{
    background-color: paleturquoise;
    transition: 1s;
}

/* FINE DEL FORM BIGLIETTO  */



/* INIZIO CSS DEL BIGLIETTO GENERATO */

.biglietto {
width: 80vw;
height: 30vh;
position: absolute;
bottom: 30vh;
border-radius: 10px;
margin-left: 50%;
transform: translate(-50%);
background-color: darkgray;
display: flex;
flex-direction: row;
}
.box_biglietto {
    z-index: 999;
    border-radius: 10px;
    width: 20%;
    margin-left: 5px ;
    height: 20vh;
    margin-top: 2vh;
    /* border:2px solid white; */
    
   
    
}
.box_biglietto h4 {
    margin-top: 2vh;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: rgb(88, 87, 87);
}
.box_biglietto h6{
    line-height: 7vh;
    text-align: center;
    color: rgb(14, 12, 12);
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    
}
#name{
    margin-left: 10px;
    background-color: rgb(61, 57, 57);
    width: 23%;
    height: 80%;
}
#name > h4, #name >h6{
    color: rgb(179, 177, 177);
}